<aside>
  <% if item.picture.present? %>
    <% if (params[:action] == 'index' || params[:action] == 'search') %>
      <p><%= image_tag item.picture.variant(resize_to_limit: [285, 285]).processed  %></p>
    <% else %>
      <p><%= image_tag item.picture.variant(resize_to_limit: [600, 600]).processed  %></p>
    <% end %>
  <% end %>
  <% if (params[:action] == 'show') %>
    <p><%= item.description %></p>
  <% end %>
  <% if (params[:action] == 'index' || params[:action] == 'search') %>
    <h3 style="font-size:20px;"><%= link_to item.title, item %></h3>
  <% else %>
    <h3><%= link_to item.title, item %></h3>
  <% end %>

  <p>Price: <%= number_to_currency item.price / 100.0 %></p>
</aside>