<div class="cart-item">
  <% if cart.picture.present? %>
      <p><%= image_tag cart.picture.variant(resize_to_limit: [250, 250]).processed, alt: "#{cart.title}"  %></p>
  <% end %>

  <div class="d-flex ms-3">
    <hr/>
    <h5><%= cart.title %></h5>
    <div class="d-flex mb-3">
      <%= button_to "/cart/subtract/qty/#{cart.id}", method: :post, class: "btn btn-primary" do %>
        <i class="bi bi-dash-lg"></i>
      <% end %>
      <%= text_field_tag :price, "#{session[:shopping_cart].select {|i| i["id"]==cart.id}[0]["qty"]}", disabled: true, class: "ms-2 me-2" %>
      <%= button_to "/cart/add/qty/#{cart.id}", method: :post, class: "btn btn-primary" do %>
        <i class="bi bi-plus-lg"></i>
      <% end %>
    </div>
    <%= link_to "Remove From Cart", cart_path(cart), method: :delete, class: "btn btn-danger" %>
  </div>

  <p class="price">Price: <%= number_to_currency (cart.price*@qty_array[cart_counter]) / 1.0 %></p>
</div>
<br />