<div class="cart-item">
  <% if cart.picture.present? %>
      <p><%= image_tag cart.picture.variant(resize_to_limit: [285, 285]).processed  %></p>
  <% end %>
  <h3><%= cart.title %></h3>

  <div class="d-flex mb-3">
    <%= button_to "/cart/add/qty/#{cart.id}", method: :post, class: "btn btn-primary" do %>
      <i class="bi bi-plus-lg" style="font-size:15px;"></i>
    <% end %>
    <%= (session[:shopping_cart].select {|i| i["id"]==cart.id})[0]["qty"].to_s %>
    <%= button_to "/cart/subtract/qty/#{cart.id}", method: :post, class: "btn btn-primary" do %>
      <i class="bi bi-dash-lg" style="font-size:15px;"></i>
    <% end %>

  </div>

  <%= link_to "Remove From Cart", cart_path(cart), method: :delete, class: "btn btn-danger" %>

  <p>Price: <%= number_to_currency cart.price / 1.0 %></p>
</div>