<div id="cart-summary">
  <h3><strong>Order Summary</strong></h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Order Subtotal</th>
          <td><%= number_to_currency @order_sub.count.positive? ? (@order_sub.sum / 1.0) : 0  %></td>
        </tr>
        <tr>
          <th>Shipping Costs</th>
          <td>Free</td>
        </tr>
        <% if current_user and @order_sub != [] %>
          <tr>
            <th>Estimated Taxes</th>
            <td><%= number_to_currency (@order_taxes) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table class="table">
      <tbody>
        <tr>
          <th><strong>Estimated Total</strong></th>
          <td><strong><%= number_to_currency (current_user and @order_sub.count.positive? ? @order_total : @order_sub.sum) %></strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% if current_user and @order_sub.count.positive? %>
    <%= link_to("Proceed to Checkout", order_review_path, class: "btn btn-warning d-inline-block w-100") %>
  <% else %>
    <%= button_to("Proceed to Checkout", order_review_path, disabled: true, class: "btn btn-warning d-inline-block w-100") %>
  <% end %>
  <%= link_to_if(current_user.nil?, "Login", { controller: "users/sessions", action: "create" }, class: "btn btn-primary d-inline-block w-100 mt-2") do
    ""
  end %>
</div>