<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="d-flex">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to "KeyStrings", root_path, class: "navbar-brand", style: "font-size:30px;margin-left:10px;" %>
      </div>

      <div>
      <%= form_tag(items_search_path, method: "get", class: "d-flex", style: "width:auto;position:relative;") do %>
        <%= search_field_tag :search, params[:search], placeholder: "Search Items", class: "form-control me-2"%>
        <%= button_tag "Search", class: "btn btn-outline-success"%>
        <%= link_to cart_index_path, style: "display:flex;" do %>
            <i class="bi bi-cart2" style="font-size:30px;margin-left:5px;padding-right:5px;"></i>
          <% if cart.present? %>
            <sup style="font-size:20px;position:absolute;right:0px;top:3px;"><%= cart.size %></sup>
          <% end %>
        <% end %>
      <% end %>
        <%# <form class="d-flex" action="/items/search" method="get">
          <input class="form-control me-2" type="search" placeholder="Search Items" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          <a href="/about"><i class="bi bi-cart2" style="font-size:30px;margin-left:5px;"></i></a>
        </form> %>
      </div>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <a class="nav-link offcanvas-title navbar-brand" id="offcanvasNavbarLabel" aria-current="page" href="/">KeyStrings</a>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <% if (user_signed_in?) %>
              <li class="nav-item">
                <%= link_to"Account", edit_user_registration_path(@user), class: "nav-link" %>
              </li>
            <% end %>

            <li class="nav-item">
              <%= link_to cart_index_path, class: "nav-link" do %>
                Cart
                <% if cart.present? %>
                  <sup><%= cart.size %></sup>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Shop
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item" href="#">Browse Categories</a></li>
                <li><a class="dropdown-item" href="#">Order Custom Keyboards</a></li>
              </ul>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>