<div id="item-show-card" class="">
  <p><%= number_to_currency item.price / 1.0 %></p>

  <div id="product-details">
    <% if cart.include?(item) %>
      <%= link_to "Remove From Cart", cart_path(item), method: :delete, class: "btn btn-danger d-inline-block mb-5 float-end" %>
      <%= link_to "View Cart", cart_index_path, class: "btn btn-warning d-inline-block w-100 mb-2" %>
    <% else %>
      <%= form_with url: cart_index_path, method: :post do %>
        <%= hidden_field_tag(:id, item.id) %>
        <%= hidden_field_tag(:title, item.title) %>
        <%= button_tag class: "btn btn-warning d-inline-block w-100 mb-2" do %>
          Add To Cart
        <% end %>
      <% end %>
    <% end %>
    <%= button_to item, method: :post, class: "btn btn-primary d-inline-block w-100 mb-5" do %>
      Buy
    <% end %>
  </div>
</div>